
$font-size-sec: 0.8rem;
$c-text-sec: rgba(#000, 0.6);

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
}

main {
    display: inline-block;
    max-width: 480px;
    width: 100%;
}

.field {
    margin: 16px 0;

    > label {
        display: block;
        margin-bottom: 2px;
        font-size: $font-size-sec;
        color: $c-text-sec;

        + * {
            display: block;
            border: 1px solid black;
            outline: none;
            width: 100%;
            padding: 8px 8px;
        }
    }

    output:empty:before {
        content: " ";
    }

    output {
        white-space: pre;
    }
}


textarea {
    width: 100%;
    resize: vertical;
    min-height: 40px;
}


.text-center {
    text-align: center;
}

.full-width {
    width: 100%;
}

table {
    border: 1px solid black;
    border-collapse: collapse;

    th {
        border-bottom: 1px solid black;
    }

    td, th {
        padding: 4px;
        border: 1px solid black;
    }
}
